body{
	font-size: 16px;
	background-color: white;
}

.navbar {
	background-color: grey;
	border-radius: 0;
	border: 0;
	color: black;
	opacity:0.7;
}
.navbar-header h1{
	color: black;
}
.navbar-header a:hover, .navbar-header a:focus{
	text-decoration: none;
}
#nav-list{
	margin-top: 0;
	margin-bottom: 0;
}
#nav-list a{
	color: black;
	text-align: center;
	background-color: white;
	border-bottom: 2px solid black;
	font-size: 1.5em;
}
#nav-list a:hover{
	background:grey;
}

.navbar-header button.toggle,.navbar-header .icon-bar{
	border: 1px solid black;
}
.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -30px;
}
#home-tile h2{
	text-align: center;
	font-size:2.2em;
}
#home-tile h3{
	text-align: center;
	font-size:1.9em;
}
#home-tile p{
	background-color: grey;
	border: 2px solid black;
	color: black;
	box-sizing: border-box;
	margin: 10px 10px 10px 10px;
}
 div p{
	border: 10px 10px 10px 10px;
}


/************************ medium device only*******************/
@media(min-width: 768){
	.navbar{
		border: 2px solid black;
	}
}
/************************* small device only******************/
@media(max-width:767){
	.navbar-header h1{
		margin-left: 20px;
	}
}
